#notebook_panel { /* main background */
    background: #333;
    color: #f6f6f6;
}

div #notebook { /* centre the content */
    background: #fff;
    color: #333;
    width: 115ex;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2ex;
}

/* remove big margins around title */
div.text_cell_render.border-box-sizing.rendered_html {
    margin: 0;
    padding: 0; 
    margin-left: 1ex;
}
div.cell.text_cell.border-box-sizing {
    margin: 0;
    padding: 0; 
}
.rendered_html h1 {
    margin: 0;
    padding: 0;
}
.rendered_html h2 {
    margin: 0;
    padding: 0;
}
.rendered_html h3 {
    margin: 0;
    padding: 0;
}

div.cell { /* set cell width to about 80 chars */
    width: 55em;
}

div.cell.code_cell { /* area that contains code + output */
    background: #fff;
    border: none;
    border-radius: 10px;
    padding-top: 1ex;
}

div.input_area { /* box around box with code */
    border: none;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0.5em;
}

div.input { /* box with code */
}

div.CodeMirror { /* code font */
    font-family: "Inconsolata-dz", monospace;
    font-size: 10pt;
}

div.prompt { /* remove In/Out prompt */
    display: none;
}

div.output_subarea { /* remove margin in front of output */
    border: none;
}

div.cell.border-box-sizing.code_cell.running { 
    /* draw border around running cells */
    border: 3px dotted #f33;
}

/* header colours and fonts */
h1 { color: #444; }
h2 { color: #444; }
h3 { color: #444; font-style: italic; font-weight: normal}


